body {
    font-family: Arial, sans-serif;
    text-align: center;
    /* Center align text and elements */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    min-height: 100vh;
    gap: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centers everything inside the container */
    justify-content: center;
    /* Semi-transparent white background */
    background: rgba(255, 255, 255, 0.2);
    /* Blur effect */
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap: 10px;
    color: #1d1212;
}